*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
body {
  font: 14px/1.6 Arial, 'sans-serif', 'Microsoft YaHei', '黑体', "宋体";
  color: #333;
}

html, body, #app {
  height: 100%;
}

a {
  text-decoration: none;
  color: #333;
}